body{
				background-color: #000;
}
/* Cuadro de redes sociales, bordes ect*/
.redes-sociales {
  text-align: center;
  background-color: ; 
  color: #fff;
  padding: 25px;
  border-radius: 25px; 
  border: 4px solid #0002ac;  
  margin-top: 10px;
}

.redes-sociales h2 {
  margin-bottom: 5px;
}
/*Colores de los botones inicio*/
.boton-facebook {
  background-color: #1877f2;
  text-shadow: 0 0 10px rgba(24, 119, 242, 0.8);
  border-radius: 12px;
  border: 4px solid #090080;
  
}

.boton-whatsapp {
  background-color: rgb(0, 255, 0);
		text-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
		border-radius: 12px;
	 border: 4px solid #090080;
}

/*final*/
.botones {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px; /* Agrega espacio solo en la dirección vertical */
}


.boton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: all 0.2s;
  
}
/*sistema al dar clic o pasar el cursor*/
.boton-facebook:hover, .boton-whatsapp:hover, .boton-instagram:hover, .boton-gmail:hover, .boton-telegram:hover, .boton-paypal:hover {
  transform: scale(1.1);
  background-color: black;
  text-shadow: 0 0 10px rgba(0, 191, 255, 9);

}

.botones img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}

/*Sistema para quitar el rayado*/
.boton-facebook, .boton-whatsapp, .boton-instagram, .boton-gmail, .boton-telegram, .boton-paypal, span {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none !important;
  color: white; 
  justify-content: center;
  display: flex;
  align-items: center;

}


.botones a {
  text-decoration: none !important;
  
}
/*final para quitar el rayado*/

@media screen and (max-width: 767px) {
  .botones {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .boton {
    width: 80px;
    height: 80px;
    
  }
}


/*Color de Título"Redes Sociales"*/

.animate-charcter{
				position: ;
    op: 1%;
    left: center;
    text-transform: uppercase; 
    background-image: linear-gradient( -225deg, #00FFFF 0%, #1100ff 29%, #ff352a 67%, 
    				#00ff00 100% ); 
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;        
    color: #fff; 
    background-clip: text; 
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1s linear infinite;
    display: inline-block; 
    font-size: 30px; } @keyframes textclip { to { background-position: 200% center ; } }
   

/*Boton de Regresar*/
.btn1 {
      
      text-align: center;
      left: 32%;
      top:  70%;
      display: inline-block;
      padding: 20px 35px;
      background-color: #00ff00;
      color: rgb(0, 0, 0);
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      border: none;
      border-radius: 9px;
      transition: background-color 0.3s ease;
      cursor: pointer;
      justify-content: center;
      margin-top: 10px;
      font-weight: bold;

    }

.btn1:hover {
      background-color: rgb(255, 0, 0);
    }
/*formulario*/
    .redes-sociales form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fbda00;
      box-sizing: border-box; /* Añadido para asegurar que el padding no afecte el ancho total */
      color: black;
    }
    
    .redes-sociales form label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    .redes-sociales form input[type="text"],
    .redes-sociales form input[type="email"],
    .redes-sociales form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #2bd4e3;
      border-radius: 5px;
      box-sizing: border-box; /* Añadido para asegurar que el padding no afecte el ancho total */
    }
    
    .redes-sociales form button[type="submit"] {
      background-color: #007bff;
      color: rgb(255, 255, 255);
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .redes-sociales form button[type="submit"]:hover {
      background-color: #0056b3;
    }
    