/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #33FFFC;
    color: #fff;
    margin: 0;
    padding: 0;
    
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
 color: rgb(16, 23, 8);
				 text-shadow: 0 0 10px rgba(98, 0, 255, 0.8); 
}

/* Estilos de la sección de juegos */
.juegos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.juego {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}

.juego img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    
}

.juego h2 {
    margin-top: 10px;
    text-align: center;
}

.juego h3 {
    margin-top: 10px;
    text-align: center;
}

.juego p {
    margin-top: 10px;
    text-align: center;
}

.juego a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #00ff00;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    
}

.juego a:hover {
    background-color: #00cc00;
}

/* Estilos de la barra inferior */
.barra-inferior {
    background-color: #111;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    color: rgb(0, 238, 255);
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
    text-decoration: none;    
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out; /* Agregamos transición en el color de fondo */
}

nav a:hover {
    background-color: rgb(255, 0, 0);



 /* Agregamos un color de fondo al hacer hover */
}

nav a:active {
    background-color: rgba(255, 255, 255, 0.3); /* Agregamos un color de fondo al hacer clic */
}

/*Diseño de Sistema refresh y Guardando progreso*/
.loading {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            z-index: 10001;    
            color: #000;
            font-weight: bold;           
}

        

.loading .loading-icon  {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
                      
        }

.lt{
												position: absolute;
            top: 110%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(0, 255, 0);
				        text-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
            font-size: 25px;  
            
}

/*Color de Titulo bott*/
.sunny{
				color: rgb(255, 255, 0);
		  text-shadow: 0 0 10px rgba(255, 255, 0,			  				 0.6);
}

/*Color de Titulo funda*/
.navidad{
				color: rgb(255, 0, 0);
				text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);

}

/*Color de Titulo New Work*/
.neww{
				color: #ec03f4;
    text-shadow: 0 0 10px rgba(3, 233, 244, 0.6);

}
/*Color de Titulo btt*/
.btt{
    color: #032bf4;
text-shadow: 0 0 10px rgba(3, 233, 244, 0.6);

}
